<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>글쓰기</title>
</head>
<body>
<header th:replace="component/header/role_user :: header">
    <nav>
        <a href="index-user.html">Kobalttown</a>
        <form action="index-anonymous.html" method="post">
            <button>로그아웃</button>
        </form>
    </nav>
</header>
<main>
    <form id="create" action="detail.html" method="post"
          th:action="@{/articles}"></form>
    <!--/*@thymesVar id="article" type="kr.lul.kobalttown.article.web.CreateArticleInput"*/-->
    <article th:object="${article}">
        <h1><label for="title">TITLE</label>
            <input id="title" form="create" name="title" placeholder="input title."
                   th:field="*{title}"/>
        </h1>
        <div>
            <label for="body">BODY</label>
            <textarea id="body" form="create" name="body"
                      th:field="*{body}"></textarea>
        </div>
    </article>
    <div>
        <button form="create">등록</button>
    </div>
</main>
</body>
</html>