<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Kobalttown 글 내용</title>
</head>
<body>
<header th:replace="component/header/role_user :: header">
    <nav>
        <a href="index-user.html">Kobalttown</a>
        <form action="index-anonymous.html" method="post">
            <button>로그아웃</button>
        </form>
    </nav>
</header>
<main>
    <!--/*@thymesVar id="article" type="kr.lul.kobalttown.article.dto.DetailArticleDto"*/-->
    <article th:object="${article}">
        <h1>
            <span>#<span th:text="*{id}">0</span></span>
            <span th:text="*{title}">글 제목</span>
        </h1>
        <dl>
            <dt>create</dt>
            <dd>
                <time datetime="2019-02-24 22:21:13.324" th:replace="tag/time :: auto(*{createdAt})">
                    2019-02-24 22:21:13
                </time>
            </dd>
        </dl>
        <div th:text="*{body}">
            <p>글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용.</p>
            <p>2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락
                2번째단락 2번째단락 2번째 단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락
                2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 </p>
            <p>3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락
                3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락
                3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락
                3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 </p>
            <p>4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 </p>
        </div>
    </article>
</main>
<div>
    <a href="_/index-user.html" th:href="@{/}">목록</a>
</div>
</body>
</html>