<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Kobalttown 글 내용</title>
</head>
<body>
<header>
    <nav>
        <a href="_/index-anonymous.html">Kobalttown</a>
        <form action="_/index-anonymous.html" method="post">
            <button>로그아웃</button>
        </form>
    </nav>
</header>
<main>
    <article>
        <h1>글 제목</h1>
        <dl>
            <dt>create</dt>
            <dd>
                <time datetime="2019-02-24 22:21:13.324">2019-02-24 22:21:13</time>
            </dd>
        </dl>
        <div>
            <p>글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용 글 내용.</p>
            <p>2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락
                2번째단락 2번째단락 2번째 단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 2번째단락
                2번째단락 2번째단락 2번째단락 2번째단락 2번째단락 </p>
            <p>3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락
                3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락
                3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락
                3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 3번째단락 </p>
            <p>4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락 4번째단락
                4번째단락 4번째단락 </p>
        </div>
    </article>
</main>
<div>
    <a href="_/index-user.html">목록</a>
</div>
</body>
</html>