<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-02-11 14:17" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>kr.lul.kobalttown.domain.DummyPaper : sample2</title>
</head>
<body>
<header>
    <nav>
        <ol>
            <li><a href="../../../index.html">TEMPLATES</a></li>
            <li><a href="../../index.html">PAPER</a></li>
            <li><a href="../index.html">kr.lul.kobalttown.domain.DummyPaper</a></li>
        </ol>
    </nav>
</header>
<main>
    <h1><code>kr.lul.kobalttown.domain.DummyPaper</code> : <code>sample2</code></h1>
    <div th:fragment="view(paper)" th:remove="tag">
        <table th:object="${paper}">
            <thead>
            <tr>
                <th>ID</th>
                <th>PATH</th>
                <th>THEME</th>
                <th>DESCRIPTION</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="*{id}">id</td>
                <td th:text="*{path}">path</td>
                <td th:text="*{theme}">theme</td>
                <td th:text="*{description}">description</td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>