<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../../assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../../assets/css/kobalttown.css"/>
    <script src="../../../assets/js/jquery.js"></script>
    <script src="../../../assets/js/popper.js"></script>
    <script src="../../../assets/js/bootstrap.js"></script>
    <script src="../../../assets/js/kobalttown.js"></script>
    <title>Kobalttown 회원가입</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="index-anonymous.html"
           th:href="@{/}">Kobalttown</a>
        <a class="btn btn-primary" href="../accounts/create.html"
           th:href="@{/signup}">가입</a>
        <a class="btn btn-outline-primary" href="login.html"
           th:href="@{/login}">로그인</a>
    </nav>
</header>
<main>
    <h1>회원가입</h1>
    <!--/*@thymesVar id="account" type="kr.lul.kobalttown.account.api.CreateAccountInput"*/-->
    <div th:object="${account}">
        <ul th:if="${#fields.hasErrors()}">
            <li th:each="err : ${#fields.errors()}" th:text="${err}">err</li>
        </ul>
        <form id="signup" action="../_/login.html" method="post"
              th:action="@{/accounts}"></form>
        <div>
            <label for="nickname">ID</label>
            <input id="nickname" form="signup" name="nickname" placeholder="Input nickname."
                   required="required"
                   th:field="*{nickname}"/>
            <ul th:if="${#fields.hasErrors('nickname')}">
                <li th:each="err : ${#fields.errors('nickname')}" th:text="${err}">err</li>
            </ul>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" id="password" form="signup" name="password" placeholder="Input password."
                   required="required"
                   th:field="*{password}"/>
            <ul th:if="${#fields.hasErrors('password')}">
                <li th:each="err : ${#fields.errors('password')}" th:text="${err}">err</li>
            </ul>
        </div>
        <div>
            <label for="confirm">Password confirm</label>
            <input type="password" id="confirm" form="signup" name="confirm" placeholder="Input password again."
                   required="required"
                   th:field="*{confirm}"/>
        </div>
        <button form="signup">가입</button>
    </div>
</main>
</body>
</html>