kr.lul.kobalttown:
  account:
    service:
      welcome:
        enable: true
        async: true
        mail:
          from: 'Kobalttown Welcome<dev@lul.kr>'
          title: 'Welcome to Kobalttown!'
          template: mail/account/welcome
      validation-code:
        enable: true
        async: true
        domain: 'kobalttown.lul.kr'
        mail:
          from: 'Kobalttown Dev<dev@lul.kr>'
          title: 'Verify Your Kobalttown Account'
          template: 'mail/account/validation-code'
  front:
    resource:
      root: '<front resource path>'

spring:
  pid:
    file: koblattown-standalone.pid
  datasource:
    hikari:
      driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    show-sql: false
  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail.smtp:
        auth: true
        starttls.enable: true
  thymeleaf:
    prefix: file:./templates/
  messages:
    basename: i18n/messages,i18n/errors,i18n/mails
  devtools:
    restart:
      enabled: false
    livereload:
      enabled: false

server:
  servlet:
    session:
      cookie:
        name: ktp

logging:
  level:
    root: info
    org.hibernate.SQL: debug
