kr.lul.kobalttown:
  account:
    service:
      activation:
        enable: true
        from: 'Kobalttown Bot<dev@lul.kr>'
        title: 'Welcome to Kobalttown'
        message-template: 'mail/account/activation'
        domain: 'kobalttown.lul.kr'

spring:
  pid:
    file: koblattown-standalone.pid
  datasource:
    hikari:
      driver-class-name: com.mysql.cj.jdbc.Driver
      jdbc-url: jdbc:mysql://localhost/kobalttown?connectionCollation=utf8mb4_unicode_520_ci&allowPublicKeyRetrieval=true&useSSL=false
  jpa:
    open-in-view: false
    show-sql: false
  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail.smtp:
        auth: true
        starttls.enable: true

server:
  servlet:
    session:
      cookie:
        name: ktp

logging:
  level:
    root: info
    org.hibernate.SQL: debug
