kr.lul.kobalttown:
  account:
    service:
      welcome:
        enable: true
        async: false
        mail:
          from: 'Kobalttown Welcome<dev@lul.kr>'
          title: 'Welcome to Kobalttown!'
          template: mail/account/welcome
      validation-code:
        enable: true
        async: false
        domain: 'kobalttown.lul.kr'
        mail:
          from: 'Kobalttown Dev<dev@lul.kr>'
          title: 'Verify Your Kobalttown Account'
          template: 'mail/account/activate-code'

spring:
  pid:
    file: koblattown-standalone.pid
  datasource:
    hikari:
      driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    open-in-view: false
    show-sql: false
  mail:
    host: smtp.gmail.com
    port: 587
    properties:
      mail.smtp:
        auth: true
        starttls.enable: true
  thymeleaf:
    prefix: file:./templates/
  messages:
    basename: i18n/messages,i18n/errors,i18n/mails

server:
  servlet:
    session:
      cookie:
        name: ktp

logging:
  level:
    root: warn
    org.hibernate.SQL: debug
    kr.lul.kobalttown:  info
