<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2020/03/14 7:22" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>Account</title>
</head>
<body>
<main>
    <h1>Account</h1>
    <section>
        <h2>Author</h2>
        <address th:fragment="author(account)">
            <!--/*@thymesVar id="account" type="kr.lul.kobalttown.account.dto.AbstractAccountDto"*/-->
            <address><a href="../../layout/account/profile.html" rel="author"
                        th:href="@{/accounts/__${account.id}__}" th:text="${account.nickname}">author</a></address>
        </address>
    </section>
</main>
</body>
</html>
