<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-02-11 19:11" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>model</title>
</head>
<body>
<main>
    <h1><code>model</code></h1>
    <!--/*@thymesVar id="paper" type="kr.lul.kobalttown.domain.Paper"*/-->
    <section th:each="kartka : ${paper.kartkas}">
        <!--/*@thymesVar id="kartka" type="kr.lul.kobalttown.domain.Paper.Kartka"*/-->
        <h2><code th:text="${kartka.name}">attributeName</code></h2>
        <p th:text="${kartka.value}">attribute</p>
    </section>
</main>
</body>
</html>