<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019/12/18 22:04" th:remove="all"/>
    <meta charset="UTF-8"/>
</head>
<body>
<div>
    <!--/*@thymesVar id="expireAt" type="java.time.ZonedDateTime"*/-->
    <!--/*@thymesVar id="domain" type="java.lang.String"*/-->
    <!--/*@thymesVar id="code" type="java.lang.String"*/-->
    <div class="jumbo">
        <p>Copy & Goto bellow url until
            <time th:datetime="${expireAt}" th:text="${#temporals.format(expireAt,'yyyy-MM-dd HH:mm')}">expire at</time>
            :
        </p>
        <p th:text="'https://'+${domain}+'/accounts/activate/'+${code}">
            https://kobalttown.lul.kr/accounts/activate/code</p>
    </div>
</div>
</body>
</html>
