<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../../../assets/css/bootstrap.css"/>
    <script src="../../../assets/js/jquery.js"></script>
    <script src="../../../assets/js/popper.js"></script>
    <script src="../../../assets/js/bootstrap.js"></script>
    <meta charset="UTF-8"/>
    <title>Article component templates</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="../../../index.html">Kobalttown Front</a>
    </nav>
</header>
<h1>Article component templates</h1>
<h2><a href="list.html"><code>list</code></a></h2>
<iframe src="list.html"></iframe>
<h2><a href="pager.html"><code>pager</code></a></h2>
<iframe src="pager.html"></iframe>
</body>
</html>