<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-05-04 18:29" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>article list</title>
</head>
<body>
<main>
    <h1>article list</h1>
    <h2>table type</h2>
    <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page<kr.lul.kobalttown.article.dto.SummaryArticleDto>"*/-->
    <table th:fragment="table(page)">
        <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>SUMMARY</th>
            <th>작성일</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="article" type="kr.lul.kobalttown.article.dto.SummaryArticleDto"*/-->
        <tr th:each="article : ${page.content}" th:object="${article}">
            <td><a href="../../page/articles/detail.html"
                   th:href="@{/articles/__*{id}__}" th:text="*{id}">998</a></td>
            <td th:text="*{title}">타이틀 타이틀 타이틀</td>
            <td th:text="*{summary}">요약</td>
            <td>
                <time th:replace="tags/time :: auto(*{createdAt})" datetime="2019-02-24T08:11:11.123">2019-02-24
                    08:11:11
                </time>
            </td>
        </tr>
        <tr th:remove="all">
            <td><a href="../../page/articles/detail.html">997</a></td>
            <td>타이틀 타이틀 타이틀</td>
            <td>앞문장 앞문장 앞문장 앞문장 앞문장</td>
            <td>
                <time datetime="2019-02-24T08:11:11.123">2019-02-24 08:11:11</time>
            </td>
        </tr>
        <tr th:remove="all">
            <td><a href="../../page/articles/detail.html">996</a></td>
            <td>타이틀 타이틀 타이틀</td>
            <td>앞문장 앞문장 앞문장 앞문장 앞문장</td>
            <td>
                <time datetime="2019-02-24T08:11:11.123">2019-02-24 08:11:11</time>
            </td>
        </tr>
        <tr th:remove="all">
            <td><a href="../../page/articles/detail.html">995</a></td>
            <td>타이틀 타이틀 타이틀</td>
            <td>앞문장 앞문장 앞문장 앞문장 앞문장</td>
            <td>
                <time datetime="2019-02-24T08:11:11.123">2019-02-24 08:11:11</time>
            </td>
        </tr>
        <tr th:remove="all">
            <td><a href="../../page/articles/detail.html">994</a></td>
            <td>타이틀 타이틀 타이틀</td>
            <td>앞문장 앞문장 앞문장 앞문장 앞문장</td>
            <td>
                <time datetime="2019-02-24T08:11:11.123">2019-02-24 08:11:11</time>
            </td>
        </tr>
        <tr th:remove="all">
            <td><a href="../../page/articles/detail.html">993</a></td>
            <td>타이틀 타이틀 타이틀</td>
            <td>앞문장 앞문장 앞문장 앞문장 앞문장</td>
            <td>
                <time datetime="2019-02-24T08:11:11.123">2019-02-24 08:11:11</time>
            </td>
        </tr>
        <tr th:remove="all">
            <td><a href="../../page/articles/detail.html">992</a></td>
            <td>타이틀 타이틀 타이틀</td>
            <td>앞문장 앞문장 앞문장 앞문장 앞문장</td>
            <td>
                <time datetime="2019-02-24T08:11:11.123">2019-02-24 08:11:11</time>
            </td>
        </tr>
        <tr th:remove="all">
            <td><a href="../../page/articles/detail.html">991</a></td>
            <td>타이틀 타이틀 타이틀</td>
            <td>앞문장 앞문장 앞문장 앞문장 앞문장</td>
            <td>
                <time datetime="2019-02-24T08:11:11.123">2019-02-24 08:11:11</time>
            </td>
        </tr>
        <tr th:remove="all">
            <td><a href="../../page/articles/detail.html">990</a></td>
            <td>타이틀 타이틀 타이틀</td>
            <td>앞문장 앞문장 앞문장 앞문장 앞문장</td>
            <td>
                <time datetime="2019-02-24T08:11:11.123">2019-02-24 08:11:11</time>
            </td>
        </tr>
        <tr th:remove="all">
            <td><a href="../../page/articles/detail.html">989</a></td>
            <td>타이틀 타이틀 타이틀</td>
            <td>앞문장 앞문장 앞문장 앞문장 앞문장</td>
            <td>
                <time datetime="2019-02-24T08:11:11.123">2019-02-24 08:11:11</time>
            </td>
        </tr>
        </tbody>
    </table>
</main>
</body>
</html>