<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-05-04 19:18" th:remove="all"/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="../../../assets/css/bootstrap.css"/>
    <link rel="stylesheet" href="../../../assets/css/kobalttown.css"/>
    <script src="../../../assets/js/jquery.js"></script>
    <script src="../../../assets/js/popper.js"></script>
    <script src="../../../assets/js/bootstrap.js"></script>
    <script src="../../../assets/js/kobalttown.js"></script>
    <title>list pager</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="../../index.html">Kobalttown Front</a>
    </nav>
</header>
<main>
    <h1>list pager</h1>
    <section>
        <h2>default</h2>
        <!--/*@thymesVar id="page" type="org.springframework.data.domain.Page"*/-->
        <div th:fragment="default(page)" th:remove="tag">
            <div class="row" data-kt-component="article-pager-default"
                 sd:page-object="${page}">
                <div class="col-6">
                    <p sd:pagination-summary="">info</p>
                </div>
                <div class="col-6">
                    <div class="pull-right">
                        <ol class="pagination"
                            sd:pagination-split="7" sd:pagination="full">
                            <li class="disabled"><span>이전 블록</span></li>
                            <li><a href="../../page/_/index-user.html">11</a></li>
                            <li><a href="../../page/_/index-user.html">12</a></li>
                            <li class="active"><span>13</span></li>
                            <li><a href="../../page/_/index-user.html">14</a></li>
                            <li><a href="../../page/_/index-user.html">15</a></li>
                            <li><a href="../../page/_/index-user.html">다음 블록</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
</body>
</html>