<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-02-11 15:38" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>PAPER</title>
</head>
<body>
<header>
    <nav>
        <ol>
            <li><a href="../index.html">TEMPLATES</a></li>
        </ol>
    </nav>
</header>
<main>
    <h1>PAPER</h1>
    <div th:fragment="view(paper)" th:remove="tag">
        <div th:replace="paper/__${paper.class.name}__/__${paper.theme}__/index :: view(${paper})"></div>
    </div>
    <ol>
        <li>
            <a href="kr.lul.kobalttown.domain.DummyPaper/index.html"><code>kr.lul.kobalttown.domain.DummyPaper</code></a>
        </li>
    </ol>
</main>
</body>
</html>