kr.lul.kobalttown:
  account:
    service:
      welcome:
        enable: true
        async: true
        mail:
          from: 'Kobalttown Welcome<dev@lul.kr>'
          title: 'Welcome to Kobalttown!'
          template: mail/account/welcome
      validation-code:
        enable: true
        async: true
        domain: 'kobalttown.lul.kr'
        mail:
          from: 'Kobalttown Dev<dev@lul.kr>'
          title: 'Verify Your Kobalttown Account'
          template: 'mail/account/enable_code'
  front.web:
    resources:
      - path: /assets/**
        location: file:/<front resource path>/assets
        cache: false

spring:
  datasource:
    hikari:
      jdbc-url: jdbc:mysql://localhost/kobalttown?connectionCollation=utf8mb4_unicode_520_ci&allowPublicKeyRetrieval=true&useSSL=false&serverTimezone=Asia/Seoul
      username: root
      password: ""
  jpa:
    open-in-view: false
    show-sql: false
  mail:
    host: smtp.gmail.com
    port: 587
    username: dev@lul.kr
    password: 'Go to https://myaccount.google.com/apppasswords and create app password'
    properties:
      mail.smtp:
        auth: true
        starttls.enable: true
  thymeleaf:
    cache: false
    prefix: file:<path to front module>/templates/
  messages:
    cache-duration: 0
  resources:
    static-locations: '<front resource path>'
  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true

server:
  servlet:
    session:
      cookie:
        name: session-cookie

logging:
  pattern:
    console: "%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%t]){faint} %clr(%logger){cyan} %clr(:){faint} %m%n%wEx"
  level:
    root: info
    kr.lul.kobalttown: info
