<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019/12/17 23:53" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>Navbar : Anonymous</title>
</head>
<body>
<header>
    <div th:fragment="navbar">
        <a href="../../layout/account/create.html" th:href="@{/accounts/create}">sign-up</a>
        <a href="../../layout/root/index.html" th:href="@{/login}">log-in</a>
    </div>
</header>
<main>
    <h1>Navbar : Anonymous</h1>
</main>
</body>
</html>
