<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2020/01/30 23:05" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>비밀번호 변경</title>
</head>
<body>
<header th:replace="component/navbar/index :: navbar">
    GNB
</header>
<main>
    <h1>비밀번호 변경</h1>
    <!--/*@thymesVar id="updatePasswordReq" type="kr.lul.kobalttown.account.web.controller.request.UpdatePasswordReq"*/-->
    <div th:object="${updatePasswordReq}">
        <form id="form-password" action="setting.html" method="post"
              th:action="@{/accounts/setting/password}" th:method="patch"></form>
        <div>
            <label for="current">현재 비밀번호</label>
            <input type="password" id="current"
                   form="form-password" name="current"
                   placeholder="현재 비밀번호를 입력하세요."
                   required="required"
                   th:field="*{current}"/>
            <ul th:if="${#fields.hasErrors('current')}">
                <li th:each="err : ${#fields.errors('current')}" th:text="${err}">err</li>
            </ul>
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password"
                   form="form-password" name="password"
                   placeholder="비밀번호를 입력하세요."
                   required="required"
                   th:field="*{password}"/>
            <ul th:if="${#fields.hasErrors('password')}">
                <li th:each="err : ${#fields.errors('password')}" th:text="${err}">err</li>
            </ul>
        </div>
        <div>
            <label for="confirm">비밀번호 확인</label>
            <input type="password" id="confirm"
                   form="form-password" name="confirm"
                   placeholder="비밀번호를 한번 더 입력하세요."
                   required="required"
                   th:field="*{confirm}"/>
            <ul th:if="${#fields.hasErrors('confirm')}">
                <li th:each="err : ${#fields.errors('confirm')}" th:text="${err}">error</li>
            </ul>
        </div>
        <div>
            <button form="form-password">저장</button>
        </div>
    </div>
</main>
</body>
</html>
