<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019/11/24 14:00" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>Account Setting</title>
</head>
<body>
<header th:replace="component/navbar/index :: navbar">
    navigation bar
</header>
<main>
    <h1>Account Setting</h1>
    <ul>
        <li>
            <a href="password.html" th:href="@{/accounts/setting/password}">비밀번호 변경</a>
        </li>
    </ul>
</main>
</body>
</html>
