<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-02-11 15:59" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>kr.lul.kobalttown.domain.DummyPaper</title>
</head>
<body>
<header>
    <nav>
        <ol>
            <li><a href="../../index.html">TEMPLATES</a></li>
            <li><a href="../index.html">PAPER</a></li>
        </ol>
    </nav>
</header>
<main>
    <h1><code>kr.lul.kobalttown.domain.DummyPaper</code></h1>
    <h2><a href="basic/index.html"><code>basic</code></a></h2>
    <iframe src="basic/index.html"></iframe>
    <h2><a href="sample/index.html"><code>sample</code></a></h2>
    <iframe src="sample/index.html"></iframe>
    <h2><a href="sample2/index.html"><code>sample2</code></a></h2>
    <iframe src="sample2/index.html"></iframe>
</main>
</body>
</html>