<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2020/03/09 18:55" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title th:text="#{note.create.head.title(#{global.head.title.postfix})}">Account create</title>
</head>
<body>
<header th:replace="component/navbar/index :: navbar">
    navigation bar
</header>
<main>
    <h1>Note create</h1>
    <!--/*@thymesVar id="createReq" type="kr.lul.kobalttown.document.web.controller.request.CreateNoteReq"*/-->
    <div th:object="${createReq}">
        <form id="form-create" action="detail.html" method="post"
              th:action="@{/notes}"></form>
        <div>
            <label for="body">BODY</label>
            <div>
            <textarea id="body"
                      form="form-create" name="body"
                      placeholder="Input note."
                      required="required"
                      th:field="*{body}"></textarea>
            </div>
        </div>
        <div>
            <button form="form-create">SUBMIT</button>
        </div>
    </div>
</main>
</body>
</html>
