<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
  <meta name="author" content="justburrow" th:remove="all"/>
  <meta name="since" content="2019/11/24 14:00" th:remove="all"/>
  <meta charset="UTF-8"/>
  <title th:text="#{account.create.head.title(#{global.head.title.postfix})}">Account create</title>
  <meta th:replace="component/tag/meta/index :: render"/>
  <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.css" th:remove="all"/>
  <link rel="stylesheet" href="../../../assets/css/kobalttown.css" th:remove="all"/>
  <script src="../../../assets/jquery/jquery.js" th:remove="all"></script>
  <script src="../../../assets/popper/popper.js" th:remove="all"></script>
  <script src="../../../assets/bootstrap/js/bootstrap.js" th:remove="all"></script>
  <script src="../../../assets/bootstrap/js/bootstrap.bundle.js" th:remove="all"></script>
  <script src="../../../assets/js/kobalttown.js" th:remove="all"></script>
</head>
<body>
<header class="fixed-top" th:replace="component/navbar/index :: render">
  navigation bar
</header>
<main class="container">
  <h1 class="h1" th:text="#{account.create.title}">Account create</h1>
  <form id="form-create" class="hide" action="#" method="post"
        th:action="@{/accounts}"></form>
  <!--/*@thymesVar id="createReq" type="kr.lul.kobalttown.account.web.controller.request.CreateAccountReq"*/-->
  <div th:object="${createReq}">
    <div class="py-3" th:if="${#fields.hasGlobalErrors()}">
      <ul class="list-unstyled alert alert-danger">
        <li th:each="err : ${#fields.globalErrors()}">
          <p th:text="${err}">error</p>
        </li>
      </ul>
    </div>
    <div class="row form-group">
      <label class="col-2 col-form-label" for="input-nickname"
             th:text="#{account.create.form.nickname.label}">Nickname</label>
      <div class="col-10">
        <input id="input-nickname" class="form-control"
               form="form-create" name="nickname"
               required="required"
               th:field="*{nickname}"
               th:errorclass="is-invalid"
               th:title="#{account.create.form.nickname.placeholder}"
               th:placeholder="#{account.create.form.nickname.placeholder}"/>
        <div class="py-3" th:if="*{#fields.hasErrors('nickname')}">
          <ul class="list-unstyled alert alert-danger">
            <li th:each="err : *{#fields.errors('nickname')}">
              <p th:text="${err}">error</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-2 col-form-label" for="input-email"
             th:text="#{account.create.form.email.label}">E-Mail</label>
      <div class="col-10">
        <input type="email" id="input-email" class="form-control"
               form="form-create" name="email"
               required="required"
               th:field="*{email}"
               th:errorclass="is-invalid"
               th:title="#{account.create.form.email.placeholder}"
               th:placeholder="#{account.create.form.email.placeholder}"/>
        <div class="py-3"
             th:if="*{#fields.hasErrors('email')}">
          <ul class="list-unstyled alert alert-danger">
            <li th:each="err : *{#fields.errors('email')}">
              <p th:text="${err}">err</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-2 col-form-label" for="input-user-key"
             th:text="#{account.create.form.user-key.label}">User
        Key</label>
      <div class="col-10">
        <input id="input-user-key" class="form-control"
               form="form-create" name="userKey"
               required="required"
               th:field="*{userKey}"
               th:errorclass="is-invalid"
               th:title="#{account.create.form.user-key.placeholder}"
               th:placeholder="#{account.create.form.user-key.placeholder}"/>
        <div class="py-3"
             th:if="*{#fields.hasErrors('userKey')}">
          <ul class="list-unstyled alert alert-danger">
            <li th:each="err : *{#fields.errors('userKey')}">
              <p th:text="${err}">err</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-2 col-form-label" for="input-password"
             th:text="#{account.create.form.password.label}">Password</label>
      <div class="col-10">
        <input type="password" id="input-password" class="form-control"
               form="form-create" name="password"
               required="required"
               th:field="*{password}"
               th:errorclass="is-invalid"
               th:title="#{account.create.form.password.placeholder}"
               th:placeholder="#{account.create.form.password.placeholder}"/>
        <div class="py-3"
             th:if="*{#fields.hasErrors('password')}">
          <ul class="list-unstyled alert alert-danger">
            <li th:each="err : *{#fields.errors('password')}">
              <p th:text="${err}">err</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-2 col-form-label" for="input-confirm"
             th:text="#{account.create.form.confirm.label}">PW
        Confirm</label>
      <div class="col-10">
        <input type="password" id="input-confirm" class="form-control"
               form="form-create" name="confirm"
               required="required"
               th:field="*{confirm}"
               th:errorclass="is-invalid"
               th:title="#{account.create.form.confirm.placeholder}"
               th:placeholder="#{account.create.form.confirm.placeholder}"/>
        <div class="py-3"
             th:if="*{#fields.hasErrors('confirm')}">
          <ul class="list-unstyled alert alert-danger">
            <li th:each="err : *{#fields.errors('confirm')}">
              <p th:text="${err}">err</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group float-right">
      <button class="btn btn-lg btn-primary" form="form-create">SUBMIT</button>
    </div>
  </div>
</main>
</body>
</html>
