<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
  <meta name="author" content="justburrow" th:remove="all"/>
  <meta name="since" content="2020/01/05 22:41" th:remove="all"/>
  <meta charset="UTF-8"/>
  <title th:text="#{account.validate-fail.head.title(#{global.head.title.postfix})}">Enable Fail</title>
  <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.css" th:remove="all"/>
  <link rel="stylesheet" href="../../../assets/css/kobalttown.css" th:remove="all"/>
  <script src="../../../assets/jquery/jquery.js" th:remove="all"></script>
  <script src="../../../assets/popper/popper.js" th:remove="all"></script>
  <script src="../../../assets/bootstrap/js/bootstrap.js" th:remove="all"></script>
  <script src="../../../assets/bootstrap/js/bootstrap.bundle.js" th:remove="all"></script>
  <script src="../../../assets/js/kobalttown.js" th:remove="all"></script>
</head>
<body>
<header th:replace="component/navbar/index :: render">
  navigation bar
</header>
<main class="container">
  <h1 class="h1" th:text="#{account.validate-fail.title}">Enable Fail</h1>
  <div class="alert alert-danger">
    <p class="lead" th:text="#{account.validate-fail.description}">사용할 수 없는 인증코드입니다.</p>
    <div class="container">
      <ul class="list-unstyled">
        <li><span th:text="#{account.validate-fail.case1}">발행되지 않은 코드.</span></li>
        <li><span th:text="#{account.validate-fail.case2}">이미 사용한 코드.</span></li>
        <li><span th:text="#{account.validate-fail.case3}">만료된 코드.</span></li>
      </ul>
    </div>
  </div>
  <hr/>
  <div class="container">
    <p class="d-inline">인증 코드를 다시 발급하겠습니까?</p>
    <div class="d-inline">
      <a class="btn btn-link" href="issue_enable_code.html" th:href="@{/accounts/validate/issue}">네</a>
    </div>
  </div>
</main>
</body>
</html>
