<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
  <meta name="author" content="justburrow" th:remove="all"/>
  <meta name="since" content="2020/01/30 23:05" th:remove="all"/>
  <meta charset="UTF-8"/>
  <title>비밀번호 변경</title>
  <meta th:replace="component/tag/meta/index :: render"/>
  <link rel="stylesheet" href="../../../assets/bootstrap/css/bootstrap.css" th:remove="all"/>
  <link rel="stylesheet" href="../../../assets/css/kobalttown.css" th:remove="all"/>
  <script src="../../../assets/jquery/jquery.js" th:remove="all"></script>
  <script src="../../../assets/popper/popper.js" th:remove="all"></script>
  <script src="../../../assets/bootstrap/js/bootstrap.js" th:remove="all"></script>
  <script src="../../../assets/bootstrap/js/bootstrap.bundle.js" th:remove="all"></script>
  <script src="../../../assets/js/kobalttown.js" th:remove="all"></script>
</head>
<body>
<header class="fixed-top" th:replace="component/navbar/index :: render">
  GNB
</header>
<main class="container">
  <h1 class="h1">비밀번호 변경</h1>
  <!--/*@thymesVar id="updatePasswordReq" type="kr.lul.kobalttown.account.web.controller.request.UpdatePasswordReq"*/-->
  <div th:object="${updatePasswordReq}">
    <form id="form-password" class="hide" action="setting.html" method="post"
          th:action="@{/accounts/setting/password}" th:method="patch"></form>
    <div class="row form-group">
      <label class="col-2 col-form-label" for="current">현재 비밀번호</label>
      <div class="col-10">
        <input type="password" id="current" class="form-control"
               form="form-password" name="current"
               placeholder="현재 비밀번호를 입력하세요."
               required="required"
               th:errorclass="is-invalid"
               th:field="*{current}"/>
        <div class="py-3" th:if="${#fields.hasErrors('current')}">
          <ul class="list-unstyled alert alert-danger">
            <li th:each="err : ${#fields.errors('current')}" th:text="${err}">err</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-2 col-form-label" for="password">비밀번호</label>
      <div class="col-10">
        <input type="password" id="password" class="form-control"
               form="form-password" name="password"
               placeholder="비밀번호를 입력하세요."
               required="required"
               th:field="*{password}"/>
        <div th:if="${#fields.hasErrors('password')}">
          <ul class="list-unstyled alert alert-danger">
            <li th:each="err : ${#fields.errors('password')}" th:text="${err}">err</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-2 col-form-label" for="confirm">비밀번호 확인</label>
      <div class="col-10">
        <input type="password" id="confirm" class="form-control"
               form="form-password" name="confirm"
               placeholder="비밀번호를 한번 더 입력하세요."
               required="required"
               th:field="*{confirm}"/>
        <div th:if="${#fields.hasErrors('confirm')}">
          <ul class="list-unstyled alert alert-danger">
            <li th:each="err : ${#fields.errors('confirm')}" th:text="${err}">error</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-lg btn-primary" form="form-password">저장</button>
    </div>
  </div>
</main>
</body>
</html>
