<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-02-11 13:01" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>kr.lul.kobalttown.domain.DummyPaper : sample</title>
</head>
<body>
<header>
    <nav>
        <ol>
            <li><a href="../../../index.html">TEMPLATES</a></li>
            <li><a href="../../index.html">PAPER</a></li>
            <li><a href="../index.html">kr.lul.kobalttown.domain.DummyPaper</a></li>
        </ol>
    </nav>
</header>
<main>
    <h1><code>kr.lul.kobalttown.domain.DummyPaper</code> : <code>sample</code></h1>
    <div th:fragment="paper(attribute)" th:remove="tag">
        <dl th:object="${attribute}">
            <dt>ID</dt>
            <dd th:text="*{id}">id</dd>
            <dt>PATH</dt>
            <dd th:text="*{path}">path</dd>
            <dt>THEME</dt>
            <dd th:text="*{theme}">theme</dd>
            <dt>DESCRIPTION</dt>
            <dd th:text="*{description}">description</dd>
        </dl>
    </div>
</main>
</body>
</html>