<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="../assets/css/bootstrap.css"/>
    <script src="../assets/js/jquery.js"></script>
    <script src="../assets/js/popper.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <meta charset="UTF-8"/>
    <title>Templates</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand mb-0 h1" href="../index.html">Kobalttown Front</a>
    </nav>
</header>
<h1>Templates</h1>
<ul>
    <li><a href="page/index.html"><code>page</code></a></li>
    <li><a href="component/index.html"><code>component</code></a></li>
    <li><a href="tag/index.html"><code>tag</code></a></li>
</ul>
</body>
</html>