<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:lang="${#locale}">
<head>
    <meta name="author" content="justburrow" th:remove="all"/>
    <meta name="since" content="2019-02-11 16:01" th:remove="all"/>
    <meta charset="UTF-8"/>
    <title>TEMPLATES</title>
</head>
<body>
<header>
    <nav>
        <ol>
            <li><a href="index.html">TEMPLATES</a></li>
        </ol>
    </nav>
</header>
<main>
    <h1>TEMPLATES</h1>
    <ol>
        <li><a href="layout/index.html">LAYOUT</a></li>
        <li><a href="paper/index.html">PAPER</a></li>
        <li><a href="component/index.html">COMPONENT</a></li>
    </ol>
</main>
</body>
</html>