<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Navbar</title>
</head>
<body>
<div th:fragment="header" th:remove="tag">
    <div sec:authorize="hasRole('ROLE_ANONYMOUS')" th:remove="tag">
        <header th:replace="component/header/role_anonymous :: header"></header>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')" th:remove="tag">
        <header th:replace="component/header/role_user :: header"></header>
    </div>
</div>
<h1>Header</h1>
<section>
    <h2><a href="role_anonymous.html"><code>ROLE_ANONYMOUS</code></a></h2>
    <iframe src="role_anonymous.html"></iframe>
</section>
<section>
    <h2><a href="role_user.html"><code>ROLE_USER</code></a></h2>
    <iframe src="role_user.html"></iframe>
</section>
</body>
</html>